{% extends "base.html" %}

{% block content %}
<main class="main-content">
    <div class="header">Latest Orders</div>
    {% if messages %}
        <center>
            <div class="messages">
                <br>
                {% for message in messages %}
                <div style="color:#1DA1F2;" class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
                <br>
            </div>
        </center>
    {% endif %}
    {% for order in orders %}
        {% if order.is_claimed == False %}
            <div class="post">
                <div class="post-header">
                    <div class="post-info">
                        <span class="user-name">{{order.user}}</span>

                        {% if order.is_claimed == False %}
                            <span class="order-tag available">Available</span>
                        {% else %}
                            <span class="order-tag claimed">Claimed</span>
                        {% endif %}
                    </div>
                </div>
                <div class="post-content">
                    {{order.items}}
                    Need at: {{order.preferred_delivery_time}}
                </div>
                <div class="post-actions">
                    <span class="action">📋 {{order.category}}</span>
                    <span class="action">📍 {{order.location}}</span>
                    <span class="action">⌛ {{order.created_at}}</span>
                </div>
                {% if order.is_claimed == False and order.user != request.user %}
                    <a href="{% url 'claim_order_page' order.id %}">
                        <button class="claim-button">Claim</button>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

</main>
{% endblock %}
